<!DOCTYPE html>
<html lang="pt-BR" class="bg-slate-900">
<head class="m-0 p-0">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RPG</title>
  <link rel="shortcut icon" href="icon.jpg" type="image/jpg">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <style> input{ overflow: auto; } </style>
</head>
<body class="m-0 p-0 w-screen h-screen overflow-y-auto overflow-x-hidden">
  <main class="text-gray-400 py-4 px-6 m-0" id="app">
    <div class="fixed right-4 bg-slate-900 px-2.5 pt-1 pb-1.5  border-2 border-emerald-500 text-emerald-500 text-xs rounded-xl z-10" v-if="game.is_auto_saved">Salvo Automaticamente</div>
    <header class="grid grid-cols-3 mt-2">
      <div class="flex rounded-l-md shadow-sm ring-2 ring-inset ring-gray-800 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative">
        <input type="text" v-model="bio.nome" id="nome" autocomplete="nome" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="">
        <span class="text-gray-700 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-slate-900 font-semibold px-2">Nome</span>
      </div>
      
      <div class="flex shadow-sm ring-2 ring-inset ring-gray-800 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative">
        <input type="text" v-model="bio.ocupacao" id="ocupacao" autocomplete="ocupacao" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        <span class="text-gray-700 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-slate-900 font-semibold px-2">Ocupação</span>
      </div>
      
      <div class="flex rounded-r-md shadow-sm ring-2 ring-inset ring-gray-800 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative">
        <input type="text" v-model="bio.origem" id="origem" autocomplete="origem" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        <span class="text-gray-700 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-slate-900 font-semibold px-2">Origem</span>
      </div>
    </header>
    <div class="grid sm:grid-cols-3 gap-y-6 sm:gap-x-6 mt-6">
      <div class="grid grid-cols-3 gap-y-2" id="attributes">
        <div class="flex rounded-l-md shadow-sm ring-2 ring-inset ring-gray-800 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative">
          <input type="number" v-model="atributos.forca" id="forca" autocomplete="forca" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
          <span class="text-gray-700 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-slate-900 font-semibold px-2">Base</span>
        </div>
        <div class="bg-slate-800 flex-1 text-center text-[10px] font-semibold uppercase flex items-center justify-center">Força</div>
        <div class="flex rounded-r-md shadow-sm ring-2 ring-inset ring-gray-800 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative">
          <input type="number" v-model="atributos.modificador_forca" id="modificador-forca" autocomplete="modificador-forca" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
          <span class="text-gray-700 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-slate-900 font-semibold px-2">Modificadores</span>
        </div>

        <div class="flex rounded-l-md shadow-sm ring-2 ring-inset ring-gray-800 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.agilidade" id="agilidade" autocomplete="agilidade" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>
        <div class="bg-slate-800 flex-1 text-center text-[10px] font-semibold uppercase flex items-center justify-center">Agilid.</div>
        <div class="flex rounded-r-md shadow-sm ring-2 ring-inset ring-gray-800 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.modificador_agilidade" id="modificador-agilidade" autocomplete="modificador-agilidade" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>

        <div class="flex rounded-l-md shadow-sm ring-2 ring-inset ring-gray-800 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.saude" id="saude" autocomplete="saude" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>
        <div class="bg-slate-800 flex-1 text-center text-[10px] font-semibold uppercase flex items-center justify-center">Saúde</div>
        <div class="flex rounded-r-md shadow-sm ring-2 ring-inset ring-gray-800 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.modificador_saude" id="modificador-saude" autocomplete="modificador-saude" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>
        
        <div class="flex rounded-l-md shadow-sm ring-2 ring-inset ring-gray-800 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.inteligencia" id="inteligencia" autocomplete="inteligencia" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>
        <div class="bg-slate-800 flex-1 text-center text-[10px] font-semibold uppercase flex items-center justify-center">Inteli.</div>
        <div class="flex rounded-r-md shadow-sm ring-2 ring-inset ring-gray-800 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.modificador_inteligencia" id="modificador-inteligencia" autocomplete="modificador-inteligencia" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>

        <div class="flex rounded-l-md shadow-sm ring-2 ring-inset ring-gray-800 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.sabedoria" id="sabedoria" autocomplete="sabedoria" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>
        <div class="bg-slate-800 flex-1 text-center text-[10px] font-semibold uppercase flex items-center justify-center">Sabedo.</div>
        <div class="flex rounded-r-md shadow-sm ring-2 ring-inset ring-gray-800 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.modificador_sabedoria" id="modificador-sabedoria" autocomplete="modificador-sabedoria" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>

        <div class="flex rounded-l-md shadow-sm ring-2 ring-inset ring-gray-800 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.personalidade" id="personalidade" autocomplete="personalidade" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>
        <div class="bg-slate-800 flex-1 text-center text-[10px] font-semibold uppercase flex items-center justify-center">Person.</div>
        <div class="flex rounded-r-md shadow-sm ring-2 ring-inset ring-gray-800 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.modificador_personalidade" id="modificador-personalidade" autocomplete="modificador-personalidade" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div class="col-span-2 grid grid-cols-2 gap-x-2 gap-y-2">
        <div class="bg-slate-800 flex flex-col">
          <div class="flex-1">
            <div class="flex items-center border-b border-slate-700">
              <span class="px-2 flex-1 block text-sm font-semibold">Defesa</span>
              <div class="flex ring-0 ring-inset focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative bg-slate-700 max-w-[4rem]">
                <input type="number" v-model="atributos.defesa" class="block border-0 bg-transparent py-1 focus:ring-0 text-sm">
              </div>
            </div>
            <textarea v-model="atributos.modificador_defesa" @input="() => calculateDamages('modificador_defesa')" id="defesa" name="defesa" class="flex-1 w-full  !border-0 py-1.5 px-2 text-sm sm:leading-6 bg-transparent p-0 !outline-0 !ring-0"></textarea>
          </div>
          <span class="text-[10px]">{{ game.calculeds.life[1] }}</span>
          <div class="bg-slate-700">
            <div class="bg-blue-500 h-2.5" v-bind:style="{ width: `${game.calculeds.defense[0]}%` }"></div>
          </div>
        </div>
        <div class="bg-slate-800  flex flex-col">
          <div class="flex-1"> 
            <div class="flex items-center border-b border-slate-700">
              <span class="px-2 flex-1 block text-sm font-semibold">Pontos de vida</span>
              <div class="flex ring-0 ring-inset focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative bg-slate-700 max-w-[4rem]">
                <input type="number" v-model="atributos.vida" class="block border-0 bg-transparent py-1 focus:ring-0 text-sm">
              </div>
            </div>
            <textarea v-model="atributos.modificador_vida" @input="() => calculateDamages('modificador_vida')" id="vida" name="vida" class="flex-1 w-full  !border-0 py-1.5 px-2 text-sm sm:leading-6 bg-transparent p-0 !outline-0 !ring-0"></textarea>
          </div>
          <span class="text-[10px]">{{ game.calculeds.life[1] }}</span>
          <div class="bg-slate-700">
            <div class="bg-red-500 h-2.5" v-bind:style="{ width: `${game.calculeds.life[0]}%` }">
            </div>
          </div>
        </div>
        <div class="bg-slate-800 col-span-2 min-h-[4rem]">
          <button type="button" class="bg-slate-700 px-2 py-1 w-full text-left text-sm font-semibold" v-on:click="openModal('abilities')">Habilidades</button>
          <div class="grid grid-cols-2 gap-2 px-2 py-1 max-h-[8rem] overflow-y-auto" v-if="!!atributos.habilidades">
            <span class="border-b border-slate-700/40" v-for="habilidade in atributos.habilidades" :key="habilidade">{{ habilidade }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="grid sm:grid-cols-3 gap-2 mt-2 sm:mt-6 w-full">
      <div class="sm:col-span-2 bg-slate-800 min-h-[4rem]">
        <button type="button" class="bg-slate-700 px-2 py-1 w-full text-left text-sm font-semibold" v-on:click="openModal('equipaments')">Equipamentos</button>
        <div class="grid grid-cols-2 gap-2 px-2 py-1 max-h-[16rem] overflow-y-auto" v-if="!!itens.equipamentos">
          <span class="border-b border-slate-700/40" v-for="equipamento in itens.equipamentos" :key="equipamento">{{ equipamento }}</span>
        </div>
      </div>
      <div class="flex flex-col flex-1 gap-y-2">
        <div class="bg-slate-800 min-h-[3rem]">
          <button type="button" class="bg-slate-700 px-2 pt-1 w-full text-left text-sm font-semibold" v-on:click="openModal('arms')">Armas e Armaduras</button>
          <div class="flex flex-col gap-1 max-h-[8rem] overflow-y-auto" v-if="!!itens.armas">
            <span class="flex justify-between border-b last:border-0 border-slate-700/40" v-for="arma in itens.armas" :key="arma">
              <span class="px-2 py-1 flex-1">{{ arma.name }}</span>
              <span class="bg-slate-700/40 px-2 py-1">{{ arma.value }}</span>
            </span>
          </div>
        </div>
        <div class="bg-slate-800 min-h-[4rem] px-2 py-1">
          <span class="text-sm font-semibold">Tesouros</span>
          <textarea v-model="itens.tesouros[0]" class="flex-1 w-full  !border-0 py-1.5 sm:text-sm sm:leading-6 bg-transparent p-0 !outline-0 !ring-0"></textarea>
        </div>
      </div>
    </div>

    <div class="mt-6 flex shadow-sm ring-2 ring-inset ring-gray-800 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative rounded">
      <textarea v-model="notas" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" rows="10"></textarea>
      <span class="text-gray-700 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-slate-900 font-semibold px-2">Notas Adicionais</span>
    </div>

    <div class="mt-6 mb-6 flex flex-wrap items-center justify-center gap-4">
      <button type="button" v-on:click="openModal('attributes')" class="w-40 text-center rounded-md bg-gray-200 px-3 py-2 px-8 text-sm font-semibold text-gray-600 shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100">Teste de Atrib.</button>
      <button type="button" v-on:click="openModal('books')" class="w-40 text-center rounded-md border border-gray-200 px-3 py-2 px-8 text-sm font-semibold text-gray-400 shadow-sm hover:bg-gray-300/30 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100">Livros</button>
      <button type="button" v-on:click="openModal('maps')" class="w-40 text-center rounded-md border border-gray-200 px-3 py-2 px-8 text-sm font-semibold text-gray-400 shadow-sm hover:bg-gray-300/30 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100">Mapas</button>
    </div>

    <!-- BEGIN:: MODALS -->
    <div id="modal-abilities"
      class="relative z-10 hidden"
      v-bind:style="{ display: game.modal.is_open_abilities ? 'block':'none' }"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        v-bind:style="{ display: game.modal.is_open_abilities ? 'block':'none' }"
      ></div>
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl">
            <div class="bg-slate-800 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <!-- BEGIN:: HEADER -->
              <div>
                <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                  <h3 class="text-base font-semibold leading-6 text-gray-50" id="modal-title">Habilidades</h3>
                  <p class="text-sm text-gray-500">Selecione as habilidades do seu personagem.</p>
                </div>
              </div>
              <!-- END:: HEADER -->
              <div class="pt-6 pr-2 max-h-[calc(100vh-13rem)] overflow-y-auto">
                <div class="grid grid-cols-2 gap-4">
                  <label class="flex hover:bg-slate-700 p-2 pt-1 rounded-md border border-slate-700" v-for="ability in game.abilities" :key="ability.name">
                    <input
                      type="checkbox"
                      v-on:change="updateAbility($event.target)"
                      v-bind:checked="atributos.habilidades && atributos.habilidades.includes(ability.name)"
                      v-bind:value="ability.name"
                      name="check_abilities"class="h-4 w-4 rounded border-gray-300 text-indigo-600  self-center focus:ring-indigo-500">
                    <div class="ml-3 min-w-0 flex-1 text-gray-400">
                      {{ ability.name }}<br/>
                      <span class="text-xs text-gray-500 leading-none block">
                        {{ ability.description }}
                      </span>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div class="bg-gray-900 px-4 py-3 sm:flex sm:justify-end gap-2 sm:px-6">
              <button
                type="button"
                class="mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-400 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50/10 sm:mt-0 sm:w-auto"
                v-on:click="closeModal('abilities')"
              >Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-equipaments"
      class="relative z-10 hidden"
      v-bind:style="{ display: game.modal.is_open_equipaments ? 'block':'none' }"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        v-bind:style="{ display: game.modal.is_open_equipaments ? 'block':'none' }"
      ></div>
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl">
            <div class="bg-slate-800 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <!-- BEGIN:: HEADER -->
              <div>
                <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                  <h3 class="text-base font-semibold leading-6 text-gray-50" id="modal-title">Equipamentos</h3>
                  <p class="text-sm text-gray-500">Selecione os equipamentos do seu personagem.</p>
                </div>
              </div>
              <!-- END:: HEADER -->
              <div class="pt-6 pr-2 max-h-[calc(100vh-13rem)] overflow-y-auto">
                <div class="grid grid-cols-2 gap-4">
                  <label class="flex hover:bg-slate-700 p-2 pt-1 rounded-md border border-slate-700" v-for="equipament in game.equipaments" :key="equipament.name">
                    <input
                      type="checkbox"
                      v-on:change="updateEquipament($event.target)"
                      v-bind:checked="itens.equipamentos && itens.equipamentos.includes(equipament.name)"
                      v-bind:value="equipament.name"
                      name="check_equipaments"class="h-4 w-4 rounded border-gray-300 text-indigo-600  self-center focus:ring-indigo-500">
                    <div class="ml-3 min-w-0 flex-1 text-gray-400">
                      {{ equipament.name }}<br/>
                      <span class="text-xs text-gray-500 leading-none block">
                        <b>Custo:</b> {{ equipament.cost }}
                      </span>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div class="bg-gray-900 px-4 py-3 sm:flex sm:justify-end gap-2 sm:px-6">
              <button
                type="button"
                class="mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-400 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50/10 sm:mt-0 sm:w-auto"
                v-on:click="closeModal('equipaments')"
              >Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-arms"
      class="relative z-10 hidden"
      v-bind:style="{ display: game.modal.is_open_arms ? 'block':'none' }"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        v-bind:style="{ display: game.modal.is_open_arms ? 'block':'none' }"
      ></div>
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl">
            <div class="bg-slate-800 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <!-- BEGIN:: HEADER -->
              <div>
                <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                  <h3 class="text-base font-semibold leading-6 text-gray-50" id="modal-title">Armas e Armaduras</h3>
                  <p class="text-sm text-gray-500">Selecione as armas e armaduras do seu personagem.</p>
                </div>
              </div>
              <!-- END:: HEADER -->
              <div class="pt-6 pr-2 max-h-[calc(100vh-13rem)] overflow-y-auto">
                <div class="grid grid-cols-2 gap-4">
                  <label class="flex hover:bg-slate-700 p-2 pt-1 rounded-md border border-slate-700" v-for="arm in game.arms" :key="arm.name">
                    <input
                      type="checkbox"
                      v-on:change="updateArm($event.target)"
                      v-bind:checked="itens.armas && itens.armas.some((a) => a.name === arm.name)"
                      v-bind:value="arm.name"
                      name="check_arms"class="h-4 w-4 rounded border-gray-300 text-indigo-600  self-center focus:ring-indigo-500">
                    <div class="ml-3 min-w-0 flex-1 text-gray-400">
                      {{ arm.name }}<br/>
                      <span class="text-xs text-gray-500 leading-none block">
                        {{ arm.description }}
                        <br/><br/>
                        <b>Custo:</b> {{ arm.cost }} | <b>Valor:</b> {{ arm.value }}
                      </span>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div class="bg-gray-900 px-4 py-3 sm:flex sm:justify-end gap-2 sm:px-6">
              <button
                type="button"
                class="mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-400 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50/10 sm:mt-0 sm:w-auto"
                v-on:click="closeModal('arms')"
              >Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-attributes"
      class="relative z-10 hidden"
      v-bind:style="{ display: game.modal.is_open_attributes ? 'block':'none' }"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        v-bind:style="{ display: game.modal.is_open_attributes ? 'block':'none' }"
      ></div>
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl">
            <div class="bg-slate-800 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <!-- BEGIN:: HEADER -->
              <div>
                <div class="mt-3 text-center sm:mt-0 sm:text-left">
                  <h3 class="text-base font-semibold leading-6 text-gray-50" id="modal-title">Teste de Atributo</h3>
                  <p class="text-sm text-gray-500 mt-2">
                    Você deve somar a pontuação do seu atributo escolhido + modificadores e/ou habilidades para determinar sua pontuação máxima.
                    <br/>
                    Depois jogue os dados e verifique na tabela, como o seu valor se qualifica.
                  </p>
                </div>
              </div>
              <!-- END:: HEADER -->
              <div class="pt-6 pr-2 max-h-[calc(100vh-13rem)] overflow-y-auto">
                <div class="flex flex-col sm:flex-row">
                  <div class="flex flex-1 max-sm:rounded-t-md sm:rounded-l-md shadow-sm ring-2 ring-inset ring-gray-600 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative">
                    <input type="number" v-model="game.test_attribute.max" class="block flex-1 border-0 bg-transparent rounded-md py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                    <span class="text-gray-300 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-slate-800 font-semibold px-2">Pontuação Máxima</span>
                  </div>
                  <div class="flex flex-1 max-sm:rounded-b-md sm:rounded-r-md shadow-sm ring-2 ring-inset ring-gray-600 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative">
                    <input type="number" v-model="game.test_attribute.current" class="block flex-1 border-0 bg-transparent rounded-md py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                    <span class="text-gray-300 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-slate-800 font-semibold px-2">Pontuação Atual</span>
                  </div>
                </div>
                <div class="grid grid-cols-6 mt-6">
                  <strong class="border border-slate-700 p-1 text-xs">Pontos Max.</strong>
                  <strong class="border border-slate-700 p-1 text-xs">Extremo (20%)</strong>
                  <strong class="border border-slate-700 p-1 text-xs">Bom (40%)</strong>
                  <strong class="border border-slate-700 p-1 text-xs">Regular (40%)</strong>
                  <strong class="border border-slate-700 p-1 text-xs">Ruim (50%)</strong>
                  <strong class="border border-slate-700 p-1 text-xs">Péssimo (50%)</strong>
                </div>  
                <div class="grid grid-cols-6" v-bind:class="{ 'bg-slate-700': row.points == game.test_attribute.max }" v-for="row in game.test_attribute.grid" :key="row.points">
                  <span class="border-x border-b border-slate-700/40 text-center">{{ row.points }}</span>
                  <span
                    class="border-x border-b border-slate-700/40 text-center"
                    v-bind:class="{ 'bg-slate-500': row.points == game.test_attribute.max && itsBetween(game.test_attribute.current, row.extreme) }"
                  >{{ row.extreme[0] + ' - ' + row.extreme[1] }}</span>
                  <span
                    class="border-x border-b border-slate-700/40 text-center"
                    v-bind:class="{ 'bg-slate-500': row.points == game.test_attribute.max && itsBetween(game.test_attribute.current, row.good) }"
                  >{{ row.good[0] + ' - ' + row.good[1] }}</span>
                  <span
                    class="border-x border-b border-slate-700/40 text-center"
                    v-bind:class="{ 'bg-slate-500': row.points == game.test_attribute.max && itsBetween(game.test_attribute.current, row.regular) }"
                  >{{ row.regular[0] + ' - ' + row.regular[1] }}</span>
                  <span
                    class="border-x border-b border-slate-700/40 text-center"
                    v-bind:class="{ 'bg-slate-500': row.points == game.test_attribute.max && itsBetween(game.test_attribute.current, row.bad) }"
                  >{{ row.bad[0] + ' - ' + row.bad[1] }}</span>
                  <span
                    class="border-x border-b border-slate-700/40 text-center"
                    v-bind:class="{ 'bg-slate-500': row.points == game.test_attribute.max && itsBetween(game.test_attribute.current, row.terrible) }"
                  >{{ row.terrible[0] + ' - ' + row.terrible[1] }}</span>
                </div>

                <p class="text-sm text-gray-400 mt-6">
                  Para definir a dificuldade o mestre(ou narrador da cena) pode usar 1D8 seguindo os valores da tabela abaixo. Está é a dificuldade mínima que o jogador deve atingir.
                </p>
                <div class="mt-2">
                  <div class="flex border border-slate-700 gap-4 p-1 text-sm"><strong class="">1-2</strong><span>Extremo</span></div>
                  <div class="flex border border-slate-700 gap-4 p-1 text-sm"><strong class="">3-4</strong><span>Bom</span></div>
                  <div class="flex border border-slate-700 gap-4 p-1 text-sm"><strong class="">5-6</strong><span>Regular</span></div>
                  <div class="flex border border-slate-700 gap-4 p-1 text-sm"><strong class="">7-7</strong><span>Ruim</span></div>
                  <div class="flex border border-slate-700 gap-4 p-1 text-sm"><strong class="">8-8</strong><span>Péssimo (Nesse caso dispensa o teste de atributo)</span></div>
                </div>
              </div>
            </div>
            <div class="bg-gray-900 px-4 py-3 sm:flex sm:justify-end gap-2 sm:px-6">
              <button
                type="button"
                class="mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-400 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50/10 sm:mt-0 sm:w-auto"
                v-on:click="closeModal('attributes')"
              >Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-books"
      class="relative z-10 hidden"
      v-bind:style="{ display: game.modal.is_open_books ? 'block':'none' }"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        v-bind:style="{ display: game.modal.is_open_books ? 'block':'none' }"
      ></div>
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl">
            <div class="bg-slate-800 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <!-- BEGIN:: HEADER -->
              <div>
                <div class="mt-3 text-center sm:mt-0 sm:text-left">
                  <div class="flex justify-between mb-4">
                    <h3 class="text-base font-semibold leading-6 text-gray-50" id="modal-title">Livros</h3>
                    <div>
                      <button
                        type="button"
                        class="text-center rounded-md  px-3 py-2 px-8 text-sm font-semibold shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100"
                        v-bind:class="{ 'bg-gray-200 text-gray-600': game.books.current === './regras.pdf', 'border border-gray-200 text-gray-400': game.books.current !== './regras.pdf' }"
                        v-on:click="game.books.current = './regras.pdf'"
                      >Regras</button>
                      <button
                        type="button"
                        class="text-center rounded-md px-3 py-2 px-8 text-sm font-semibold shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100"
                        v-bind:class="{ 'bg-gray-200 text-gray-600': game.books.current === './guia.pdf', 'border border-gray-200 text-gray-400': game.books.current !== './guia.pdf' }"
                        v-on:click="game.books.current = './guia.pdf'"
                      >Guia</button>
                    </div>
                  </div>
                  
                  <iframe v-bind:src="game.books.current" width="100%" style="height: calc(100vh - 5rem)" frameborder="0"></iframe>
                </div>
              </div>
              <!-- END:: HEADER -->
              <div class="pt-6 pr-2 max-h-[calc(100vh-13rem)] overflow-y-auto">
              </div>
            </div>
            <div class="bg-gray-900 px-4 py-3 sm:flex sm:justify-end gap-2 sm:px-6">
              <button
                type="button"
                class="mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-400 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50/10 sm:mt-0 sm:w-auto"
                v-on:click="closeModal('books')"
              >Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-maps"
      class="relative z-10 hidden"
      v-bind:style="{ display: game.modal.is_open_maps ? 'block':'none' }"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        v-bind:style="{ display: game.modal.is_open_maps ? 'block':'none' }"
      ></div>
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl">
            <div class="bg-slate-800 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <!-- BEGIN:: HEADER -->
              <div>
                <div class="mt-3 text-center sm:mt-0 sm:text-left">
                  <div class="flex justify-between mb-4">
                    <h3 class="text-base font-semibold leading-6 text-gray-50" id="modal-title">Mapas</h3>
                    <div>
                      <button
                        type="button"
                        class="text-center rounded-md  px-3 py-2 px-8 text-sm font-semibold shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100"
                        v-bind:class="{ 'bg-gray-200 text-gray-600': game.maps.current === './map.jpg', 'border border-gray-200 text-gray-400': game.maps.current !== './map.jpg' }"
                        v-on:click="game.maps.current = './map.jpg'"
                      >Mapa</button>
                      <button
                        type="button"
                        class="text-center rounded-md  px-3 py-2 px-8 text-sm font-semibold shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100"
                        v-bind:class="{ 'bg-gray-200 text-gray-600': game.maps.current === './cidadela.pdf', 'border border-gray-200 text-gray-400': game.maps.current !== './cidadela.pdf' }"
                        v-on:click="game.maps.current = './cidadela.pdf'"
                      >Cidadela</button>
                      <button
                        type="button"
                        class="text-center rounded-md  px-3 py-2 px-8 text-sm font-semibold shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100"
                        v-bind:class="{ 'bg-gray-200 text-gray-600': game.maps.current === './regiao.pdf', 'border border-gray-200 text-gray-400': game.maps.current !== './regiao.pdf' }"
                        v-on:click="game.maps.current = './regiao.pdf'"
                      >Região</button>
                    </div>
                  </div>
                  <iframe v-if="game.maps.current.slice(-4) === '.pdf'" v-bind:src="game.maps.current" width="100%" style="height: calc(100vh - 5rem)" frameborder="0"></iframe>
                  <div v-if="game.maps.current.slice(-4) !== '.pdf'" class="relative overflow-auto">
                    <img v-bind:src="game.maps.current" width="624" height="350" usemap="#image-map"/>
                  </div>
                </div>
              </div>
              <!-- END:: HEADER -->
              <div class="pt-6 pr-2 max-h-[calc(100vh-13rem)] overflow-y-auto">
              </div>
            </div>
            <div class="bg-gray-900 px-4 py-3 sm:flex sm:justify-end gap-2 sm:px-6">
              <button
                type="button"
                class="mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-400 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50/10 sm:mt-0 sm:w-auto"
                v-on:click="closeModal('maps')"
              >Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END:: MODALS -->
  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    //#region STORAGE
    const storageKey = 'rpg@player';
    let playerPayload = undefined;
    const setPlayer = (player) => {
      playerPayload = JSON.stringify(player)
      localStorage.setItem(storageKey, playerPayload)
    }
    const getPlayer = () => {
      const player = localStorage.getItem(storageKey)
      try{ return JSON.parse(player); }
      catch(e){ return undefined; }
    }
    const initialPlayer = getPlayer();
    //#endregion STORAGE'
    const availableModals = ['abilities', 'equipaments', 'arms', 'attributes', 'books', 'maps'];
    const app = new Vue({
      el: '#app',
      data: {
        bio: {
          nome: initialPlayer?.bio?.nome ?? '',
          ocupacao: initialPlayer?.bio?.ocupacao ?? '',
          origem : initialPlayer?.bio?.origem ?? '',
        },
        atributos: {
          forca: initialPlayer?.atributos?.forca ?? 0,
          modificador_forca: initialPlayer?.atributos?.modificador_forca ?? 0,
          agilidade: initialPlayer?.atributos?.agilidade ?? 0,
          modificador_agilidade: initialPlayer?.atributos?.modificador_agilidade ?? 0,
          saude: initialPlayer?.atributos?.saude ?? 0,
          modificador_saude: initialPlayer?.atributos?.modificador_saude ?? 0,
          inteligencia: initialPlayer?.atributos?.inteligencia ?? 0,
          modificador_inteligencia: initialPlayer?.atributos?.modificador_inteligencia ?? 0,
          sabedoria: initialPlayer?.atributos?.sabedoria ?? 0,
          modificador_sabedoria: initialPlayer?.atributos?.modificador_sabedoria ?? 0,
          personalidade: initialPlayer?.atributos?.personalidade ?? 0,
          modificador_personalidade: initialPlayer?.atributos?.modificador_personalidade ?? 0,
          defesa: initialPlayer?.atributos?.defesa ?? 0,
          modificador_defesa: initialPlayer?.atributos?.modificador_defesa ?? '',
          vida: initialPlayer?.atributos?.vida ?? 0,
          modificador_vida: initialPlayer?.atributos?.modificador_vida ?? '',
          habilidades: initialPlayer?.atributos?.habilidades ?? []
        },
        itens: {
          equipamentos: initialPlayer?.itens?.equipamentos ?? [],
          armas: initialPlayer?.itens?.armas ?? [],
          tesouros: initialPlayer?.itens?.tesouros && initialPlayer.itens.tesouros.length > 0 ? initialPlayer.itens.tesouros : ['']
        },
        notas: initialPlayer?.notas ?? '',
        game: {
          is_auto_saved: false,
          modal: {
            is_open_abilities: false,
            is_open_equipaments: false,
            is_open_arms: false,
            is_open_attributes: false,
            is_open_books: false,
            is_open_maps: true
          },
          calculeds: {
            defense: [0, '-/-'],
            life: [0, '-/-']
          },
          abilities: [
            { name: '11. Arremesso',    description: 'Arremesso: adicione +1 à rolagem de Ataque toda vez que tentar acertar um oponente com alguma arma do tipo Arremesso (veja pág. 53).' },
            { name: '12. Ataque Duplo', description: 'Ataque Duplo: faça a rolagem de Ataque duas vezes.' },
            { name: '13. Caça',         description: 'Caça: você pode construir armadilhas simples e preparar a caça para alimento.' },
            { name: '14. Combate',      description: 'Combate: adicione +1 à rolagem de Ataque toda vez que tentar acertar um oponente com alguma arma do tipo Combate (veja pág. 53).' },
            { name: '15. Conhecimento', description: 'Conhecimento: você é capaz de compreender assuntos específicos  com profundidade considerável.' },
            { name: '16. Construção',   description: 'Construção: você sabe como planejar e executar projetos de habitações, fortificações ou excavações.' },
            { name: '21. Cura',         description: 'Cura: adicione +1 à rolagem de Teste de Atributo toda vez que tentar curar ferimentos. Caso obtenha sucesso, a vítima recupera até 1d3+3 Pontos de Vida.' },
            { name: '22. Diplomacia',   description: 'Diplomacia: você sabe como conduzir  situações delicadas com sensatez.' },
            { name: '23. Erudição',     description: 'Erudição: você é capaz de ler e escrever textos simples.' },
            { name: '24. Escalada',     description: 'Escalada: você pode subir superfícies íngremes.' },
            { name: '25. Exploração',   description: 'Exploração: adicione +1 à rolagem de Teste de Atributo toda vez que  tentar encontrar algo nos ermos.' },
            { name: '26. Feitiçaria',   description: 'Feitiçaria: adicione +1 à rolagem de Teste de Atributo toda vez que  tentar conjurar um feitiço.' },
            { name: '31. Furtividade',  description: 'Furtividade: adicione +1 à rolagem de Teste de Atributo toda vez que  tentar se esconder ou mover-se  silenciosamente.' },
            { name: '32. Herbalismo',   description: 'Herbalismo: você sabe onde buscar  ervas e preparar antídotos e remédios.' },
            { name: '33. Idioma',       description: 'Idioma: você conhece outras línguas e  pode se comunicar em outros idiomas.' },
            { name: '34. Intimidação',  description: 'Intimidação: adicione +1 à rolagem de Teste de Atributo toda vez que  tentar amedrontar ou subjugar alguém.' },
            { name: '35. Lábia',        description: 'Lábia: adicione +1 à rolagem de Teste de Atributo toda vez que  tentar enganar outras pessoas.' },
            { name: '36. Ladinagem',    description: 'Ladinagem: adicione +1 à rolagem de Teste de Atributo toda vez que  tentar abrir fechaduras, desarmar  armadilhas ou furtar alguém.' },
            { name: '41. Lei',          description: 'Lei: você conhece códigos penais.' },
            { name: '42. Liderança',    description: 'Liderança: adicione +1 à rolagem de Teste de Atributo toda vez que  tentar comandar outras pessoas.' },
            { name: '43. Luta',         description: 'Luta: adicione +1 à rolagem de Ataque toda vez que tentar acertar um oponente com alguma  arma do tipo Luta (veja pág. 53).' },
            { name: '44. Manha',        description: 'Manha: você pode resolver embaraços  através de subterfúgios ou contatos.' },
            { name: '45. Montaria',     description: 'Montaria: você sabe conduzir animais.' },
            { name: '46. Navegação',    description: 'Navegação: você conduz embarcações.' },
            { name: '51. Negociação',   description: 'Negociação: adicione +1 à rolagem de Teste de Atributo toda vez que tentar barganhar.' },
            { name: '52. Observação',   description: 'Observação: você pode notar detalhes.' },
            { name: '53. Ocultismo',    description: 'Ocultismo: você pode compreender  assuntos obscuros de natureza mística.' },
            { name: '54. Ofício',       description: 'Ofício: você é capaz de executar um  trabalho específico ou especializado.' },
            { name: '55. Persuasão',    description: 'Persuasão: adicione +1 à rolagem de Teste de Atributo toda vez que  tentar convencer outras pessoas.' },
            { name: '56. Pontaria',     description: 'Pontaria: adicione +1 à rolagem de Ataque toda vez que tentar acertar um oponente com alguma  arma do tipo Pontaria (veja pág. 53).' },
            { name: '61. Prontidão',    description: 'Prontidão: você age primeiro no Ataque e raramente é surpreendido.' },
            { name: '62. Rastreio',     description: 'Rastreio: adicione +1 à rolagem de Teste de Atributo toda vez que  tentar encontrar rastros.' },
            { name: '63. Religião',     description: 'Religião: você conhece ritos e crenças de natureza divina.' },
            { name: '64. Resistência',  description: 'Resistência: adicione +1 à rolagem de Teste de Atributo toda vez que  tentar resistir à um esforço fora do  comum ou estiver sob ação de algum  tipo de veneno ou substância tóxica.' },
            { name: '65. Sobrevivência',description: 'Sobrevivência: adicione +1 à rolagem de Teste de Atributo toda vez que  tentar encontrar abrigo nos ermos.' },
            { name: '66. Tradição',     description: 'Tradição: você conhece costumes, lendas e profecias de um povo' },
          ],
          arms: [
            { name: "Adaga",             value: '1d6', description: "Arremesso e Luta Cortante e Perfurante", cost: 5 },
            { name: "Arco Curto",        value: '2d6', description: "Pontaria Perfurante (Flecha)", cost: 15 },
            { name: "Arco Longo",        value: '3d6', description: "Pontaria Perfurante (Flecha)", cost: 25 },
            { name: "Arma de Haste",     value: '3d6', description: "Combate Perfurante", cost: 20 },
            { name: "Bastão",            value: '1d6', description: "Luta Contundente", cost: 2 },
            { name: "Besta",             value: '3d6', description: "Pontaria Perfurante (Virote)", cost: 30 },
            { name: "Cajado",            value: '1d6', description: "Luta Contundente", cost: 2 },
            { name: "Chicote",           value: '1d6', description: "Luta Contundente e Cortante", cost: 5 },
            { name: "Clava",             value: '1d6', description: "Luta Contundente", cost: 2 },
            { name: "Clava Grande",      value: '2d6', description: "Luta Contundente", cost: 10 },
            { name: "Clava Gigante",     value: '3d6', description: "Luta Contundente", cost: 20 },
            { name: "Dardo",             value: '1d6', description: "Arremesso e Luta Perfurante", cost: 5 },
            { name: "Espada Curta",      value: '2d6', description: "Combate Cortante e Perfurante", cost: 15 },
            { name: "Espada Longa",      value: '3d6', description: "Combate Cortante e Perfurante", cost: 20 },
            { name: "Faca",              value: '1d6', description: "Arremesso e Luta Cortante e Perfurante", cost: 5 },
            { name: "Funda",             value: '1d6', description: "Pontaria Contundente (Pedra)", cost: 2 },
            { name: "Lança",             value: '2d6', description: "Combate Perfurante", cost: 15 },
            { name: "Lança de Montaria", value: '3d6', description: "Combate Perfurante", cost: 20 },
            { name: "Maça",              value: '1d6', description: "Combate Contundente", cost: 5 },
            { name: "Machado",           value: '2d6', description: "Arremesso e Luta Contundente e Cortante", cost: 10 },
            { name: "Machado de Batalha",value: '3d6', description: "Combate Contundente e Cortante", cost: 20 },
            { name: "Martelo",           value: '1d6', description: "Arremesso e Luta Contundente", cost: 5 },
            { name: "Martelode Guerra",  value: '2d6', description: "Combate Contundente", cost: 15 },
            { name: "Porrete",           value: '1d6', description: "Luta Contundente", cost: 2 },
            { name: "Porrete com Pontas",value: '2d6', description: "Luta Contundente e Perfurante", cost: 10 },
            { name: "Punhal",            value: '1d6', description: "Arremesso e Luta Cortante e Perfurante", cost: 5 },
            { name: "Cota de Malha",     value: '+2',  description: "Reduz Dano Cortante e Perfurante em até 1d3+3 por até 1d3+3 vezes*", cost: 150 },
            { name: "Couraça",           value: '+1',  description: "Reduz Dano Cortante em até 1d6 por até 1d3+3 vezes*", cost: 50 },
            { name: "Escudo Grande",     value: '+1',  description: "Reduz Dano Contundente, Cortante e Perfurante em até 1d6 por até 1d3+3 vezes", cost: 60 },
            { name: "Escudo Pequeno",    value: '+1',  description: "Reduz Dano Contundente, Cortante e Perfurante em até 1d3 por até 1d2+2 vezes", cost: 30 },
            { name: "Peles",             value: '+1',  description: "Reduz Dano Cortante em até 1d3 por até 1d2+2 vezes*", cost: 25 },
          ],
          equipaments: [
            { name: "Antídoto (para tratar venenos)", cost: 30 },
            { name: "Bandagem (3 unidades)",          cost: 2 },
            { name: "Bolsa",                          cost: 2 },
            { name: "Botas de Viagem",                cost: 5 },
            { name: "Cadeado",                        cost: 15 },
            { name: "Capa",                           cost: 10 },
            { name: "Cesta",                          cost: 1 },
            { name: "Cinto",                          cost: 2 },
            { name: "Cinzel (para esculpir pedra)",   cost: 2 },
            { name: "Comida (3 porções)",             cost: 1 },
            { name: "Corda (3 metros)",               cost: 1 },
            { name: "Corrente (1 metro)",             cost: 5 },
            { name: "Elixir (para tratar doenças)",   cost: 30 },
            { name: "Ervas",                          cost: 5 },
            { name: "Espelho de Metal",               cost: 10 },
            { name: "Flauta",                         cost: 5 },
            { name: "Flechas ou Virotes (6 unidades)",cost: 1 },
            { name: "Formão (para entalhar madeira)", cost: 2 },
            { name: "Gancho",                         cost: 5 },
            { name: "Gazuas (3 unidades)",            cost: 15 },
            { name: "Harpa",                          cost: 20 },
            { name: "Lamparina de Cerâmica",          cost: 2 },
            { name: "Lanterna de Bronze",             cost: 10 },
            { name: "Machadinha",                     cost: 2 },
            { name: "Martelete",                      cost: 2 },
            { name: "Montaria",                       cost: 100 },
            { name: "Odre",                           cost: 2 },
            { name: "Óleo (frasco)",                  cost: 5 },
            { name: "Pederneira",                     cost: 5 },
            { name: "Pedra de Amolar",                cost: 2 },
            { name: "Pergaminho (em branco)",         cost: 30 },
            { name: "Saco",                           cost: 1 },
            { name: "Símbolo Sagrado",                cost: 20 },
            { name: "Tocha (3 unidades)",             cost: 1 },
            { name: "Vela",                           cost: 2 },
            { name: "Veneno (frasco)",                cost: 10 },
          ],
          test_attribute: {
            max: 0,
            current: 0,
            grid: Array.from({ length: 20 }).map((_,i) => {
              let points = 20 - i;
              
              let twentyPercent = Math.round(points * .2); 
              let fortyPercent = Math.round(points * .4);
              const invalidRange = ['','']

              let extreme = twentyPercent === 0 ? invalidRange : [1, twentyPercent];              
              let good = fortyPercent === 0 ? invalidRange : [Number(extreme[1]) + 1, Number(extreme[1]) + fortyPercent];
              let regular = [good[1] + 1, points];

              let rest = 20 - points;

              let fiftyPercent = rest <= 0 ? 0 : Math.round(rest * .5);

              let bad = rest <= 0 || regular[1] === 20 ? invalidRange : [regular[1] + 1, regular[1] + fiftyPercent];
              let terrible = rest <= 0 || bad[1] === 20 ? invalidRange : [bad[1] + 1, 20];
              return { points, extreme, good, regular, bad, terrible }
            })
          },
          books: { current: './regras.pdf' },
          maps: {  current: './map.jpg'    }
        }
      },
      mounted() {
        const recursiveAutosave = () => {
          console.log('[verify-auto-save]');
          if(this.verifyPayloadAndSave()){
            this.game.is_auto_saved = true;

            setTimeout(() => this.game.is_auto_saved = false, 2.5 * 1000);
          }

          setTimeout(recursiveAutosave, 5 * 1000)
        }
        setTimeout(recursiveAutosave, 5 * 1000)

        this.calculateDamages('modificador_vida')
        this.calculateDamages('modificador_defesa')
      },
      methods: {
        openModal: function (modal){
          if(!availableModals.includes(modal)){
            console.error(`[invalid-modal-to-open:${modal}]`)
            return;
          }

          this.game.modal[`is_open_${modal}`] = true;
        },
        closeModal: function (modal){
          if(!availableModals.includes(modal)){
            console.error(`[invalid-modal-to-close:${modal}]`)
            return;
          }

          this.game.modal[`is_open_${modal}`] = false;
        },
        save: function (){
          const player = {
            bio: this.bio,
            atributos: this.atributos,
            itens: this.itens,
            notas: this.notas
          }

          setPlayer(player)
        },
        verifyPayloadAndSave: function(){
          const storagedPlayer = getPlayer();

          const player = { bio: this.bio, atributos: this.atributos, itens: this.itens, notas: this.notas };

          if(JSON.stringify(storagedPlayer) === JSON.stringify(player)) return false;

          this.save();

          return true;
        },
        updateAbility: function (el){
          const isChecked = el.checked;
          const value = el.value;

          if(!this.atributos.habilidades) this.atributos.habilidades = [];
          
          if(isChecked){
            if(!this.atributos.habilidades.includes(value)) this.atributos.habilidades.push(
              value
            )
          }
          else this.atributos.habilidades = this.atributos.habilidades.filter(
            (ab) => ab !== value
          )
        },
        updateEquipament: function (el){
          const isChecked = el.checked;
          const value = el.value;

          if(!this.itens.equipamentos) this.itens.equipamentos = [];
          
          if(isChecked){
            if(!this.itens.equipamentos.includes(value)) this.itens.equipamentos.push(
              value
            );
          }
          else this.itens.equipamentos = this.itens.equipamentos.filter(
            (ab) => ab !== value
          );
        },
        updateArm: function (el){
          const isChecked = el.checked;
          const value = el.value;

          if(!this.itens.armas) this.itens.armas = [];
          
          const finded = this.game.arms.find((arm) => arm.name === value);
          if(!finded) return;
          
          if(isChecked){
            if(!this.itens.armas.some((arm) => arm.name === name)) this.itens.armas.push({
              name: value,
              value: finded.value
            });
          }
          else this.itens.armas = this.itens.armas.filter(
            (arm) => arm.name !== value
          )
        },
        itsBetween: function (curr, range){
          if(!curr) return false;
          if(range[0] === '' || range[1] === '') return false;

          return curr >= range[0] && curr <= range[1]
        },
        calculateDamages: function(modifier){
          this.atributos[modifier] = this.atributos[modifier].replace(/[^+\-\d]|^[^\+\-]|(\+{2,})|(-{2,})|\+-|-\+/g, '')

          let refs = {
            modificador_vida:   { attr: 'vida',   calculateds: 'life'   },
            modificador_defesa: { attr: 'defesa', calculateds: 'defense'}
          }
          
          let total = Number(this.atributos[refs[modifier].attr]);
          if(!this.atributos[refs[modifier].attr] || isNaN(total)) return;

          let curr = total;
          if(this.atributos[modifier]){
            try{
              curr = this.calculateStrOperations(total, this.atributos[modifier])
              if(isNaN(curr)) curr = undefined;
              else if(curr < 0) curr = 0;
            }catch(e){
              console.error('[calc-str-operation-error]', { e, total, modifier: [modifier, this.atributos[modifier]] })
              curr = undefined;
            }

            if(isNaN(curr)) curr = undefined
          }

          let percent = 100
          if(!isNaN(curr) && total  !== 0){
            if(curr === 0) percent = 0;
            else{
              percent = Math.round(curr * 100 / total)
              if(percent > 100) percent = 100
            }
          }

          this.game.calculeds[refs[modifier].calculateds] = [percent,`${curr ?? '-'}/${total}`]
        },
        calculateStrOperations(initialValue, strOperation) {
          let numbers = [];
          strOperation.replace(/[^+\-\d]/g, '').split(/[\+\-]/).forEach((n) => {
            if(n === '') return;
            numbers.push(Number(n));
          });
          let operators = strOperation.replace(/[0-9]/g, '');
          let result = initialValue;

          for (let i = 0; i < numbers.length; i++) {
            if (operators[i] === '+')  result += parseInt(numbers[i], 10);
            else if (operators[i] === '-') result -= parseInt(numbers[i], 10);
          }

          return result;
        },
      }
    });
  </script>
</body>
</html>