<!DOCTYPE html>
<html lang="pt-BR" class="bg-zinc-950">
<head class="m-0 p-0">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RPG</title>
  <link rel="shortcut icon" href="icon.jpg" type="image/jpg">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Jacquard+24&display=swap" rel="stylesheet">
  <style> input{ overflow: auto; } </style>
</head>
<body class="m-0 p-0 w-screen h-screen overflow-y-auto overflow-x-hidden">
  <main class="text-gray-400 py-4 px-6 m-0" id="app">
    <div class="fixed right-4 bg-zinc-950 px-2.5 pt-1 pb-1.5  border-2 border-emerald-500 text-emerald-500 text-xs rounded-xl z-10" v-if="game.is_auto_saved">Salvo Automaticamente</div>
    <header class="grid grid-cols-3 mt-2">
      <div class="flex rounded-l-md shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative">
        <input type="text" v-model="bio.nome" id="nome" autocomplete="nome" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="">
        <span class="text-gray-500 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-zinc-950 font-semibold px-2">Nome</span>
      </div>
      
      <div class="flex shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative">
        <input type="text" v-model="bio.ocupacao" id="ocupacao" autocomplete="ocupacao" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        <span class="text-gray-500 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-zinc-950 font-semibold px-2">Ocupação</span>
      </div>
      
      <div class="flex rounded-r-md shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative">
        <input type="text" v-model="bio.origem" id="origem" autocomplete="origem" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        <span class="text-gray-500 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-zinc-950 font-semibold px-2">Origem</span>
      </div>
    </header>
    <div class="grid sm:grid-cols-3 gap-y-6 sm:gap-x-6 mt-6">
      <div class="grid grid-cols-3 gap-y-2" id="attributes">
        <div class="flex rounded-l-md shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative">
          <input type="number" v-model="atributos.defesa" id="defesa" autocomplete="defesa" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
          <span class="text-gray-500 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-zinc-950 font-semibold px-2">Base</span>
        </div>    
        <div
          class="bg-zinc-900 flex-1 text-center text-[10px] font-semibold uppercase flex items-center justify-center cursor-pointer hover:bg-zinc-900/50"
          v-on:click="openTestAttribute('defesa')"
        >Defesa</div>
        <div class="flex rounded-r-md shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative">
          <input type="number" v-model="atributos.modificador_defesa" id="modificador-defesa" autocomplete="modificador-defesa" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
          <span class="text-gray-500 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-zinc-950 font-semibold px-2">Modificadores</span>
        </div>
        
        <div class="flex rounded-l-md shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.forca" id="forca" autocomplete="forca" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>    
        <div
          class="bg-zinc-900 flex-1 text-center text-[10px] font-semibold uppercase flex items-center justify-center cursor-pointer hover:bg-zinc-900/50"
          v-on:click="openTestAttribute('forca')"
        >Força</div>
        <div class="flex rounded-r-md shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.modificador_forca" id="modificador-forca" autocomplete="modificador-forca" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>

        <div class="flex rounded-l-md shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.agilidade" id="agilidade" autocomplete="agilidade" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>
        <div
          class="bg-zinc-900 flex-1 text-center text-[10px] font-semibold uppercase flex items-center justify-center cursor-pointer hover:bg-zinc-900/50"
          v-on:click="openTestAttribute('agilidade')"
        >Agilid.</div>
        <div class="flex rounded-r-md shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.modificador_agilidade" id="modificador-agilidade" autocomplete="modificador-agilidade" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>

        <div class="flex rounded-l-md shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.saude" id="saude" autocomplete="saude" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>
        <div
          class="bg-zinc-900 flex-1 text-center text-[10px] font-semibold uppercase flex items-center justify-center cursor-pointer hover:bg-zinc-900/50"
          v-on:click="openTestAttribute('saude')"
        >Saúde</div>
        <div class="flex rounded-r-md shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.modificador_saude" id="modificador-saude" autocomplete="modificador-saude" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>
        
        <div class="flex rounded-l-md shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.inteligencia" id="inteligencia" autocomplete="inteligencia" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>
        <div
          class="bg-zinc-900 flex-1 text-center text-[10px] font-semibold uppercase flex items-center justify-center cursor-pointer hover:bg-zinc-900/50"
          v-on:click="openTestAttribute('inteligencia')"
        >Inteli.</div>
        <div class="flex rounded-r-md shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.modificador_inteligencia" id="modificador-inteligencia" autocomplete="modificador-inteligencia" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>

        <div class="flex rounded-l-md shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.sabedoria" id="sabedoria" autocomplete="sabedoria" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>
        <div
          class="bg-zinc-900 flex-1 text-center text-[10px] font-semibold uppercase flex items-center justify-center cursor-pointer hover:bg-zinc-900/50"
          v-on:click="openTestAttribute('sabedoria')"
        >Sabedo.</div>
        <div class="flex rounded-r-md shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.modificador_sabedoria" id="modificador-sabedoria" autocomplete="modificador-sabedoria" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>

        <div class="flex rounded-l-md shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.personalidade" id="personalidade" autocomplete="personalidade" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>
        <div
          class="bg-zinc-900 flex-1 text-center text-[10px] font-semibold uppercase flex items-center justify-center cursor-pointer hover:bg-zinc-900/50"
          v-on:click="openTestAttribute('personalidade')"
        >Person.</div>
        <div class="flex rounded-r-md shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <input type="number" v-model="atributos.modificador_personalidade" id="modificador-personalidade" autocomplete="modificador-personalidade" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div class="col-span-2 grid grid-cols-2 gap-x-2 gap-y-2">
        <div class="bg-zinc-900 flex flex-col">
          <div class="flex-1">
            <div class="flex items-center border-b border-zinc-800">
              <span
                class="px-2 flex-1 block text-sm font-semibold cursor-pointer"
                v-on:click="openTestAttribute('sanidade')"
              >Sanidade</span>
              <div class="flex ring-0 ring-inset focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative bg-zinc-800 max-w-[4rem]">
                <input type="number" v-model="atributos.sanidade" class="block border-0 bg-transparent py-1 focus:ring-0 text-sm">
              </div>
            </div>
            <textarea v-model="atributos.modificador_sanidade" @input="() => calculateDamages('modificador_sanidade')" id="sanidade" name="sanidade" class="flex-1 w-full  !border-0 py-1.5 px-2 text-sm sm:leading-6 bg-transparent p-0 !outline-0 !ring-0"></textarea>
          </div>
          <span class="text-[10px]">{{ game.calculeds.sanity[1] }}</span>
          <div class="bg-zinc-800">
            <div class="bg-blue-500 h-2.5" v-bind:style="{ width: `${game.calculeds.sanity[0]}%` }"></div>
          </div>
        </div>
        <div class="bg-zinc-900  flex flex-col">
          <div class="flex-1"> 
            <div class="flex items-center border-b border-zinc-800">
              <span class="px-2 flex-1 block text-sm font-semibold">Pontos de vida</span>
              <div class="flex ring-0 ring-inset focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative bg-zinc-800 max-w-[4rem]">
                <input type="number" v-model="atributos.vida" class="block border-0 bg-transparent py-1 focus:ring-0 text-sm">
              </div>
            </div>
            <textarea v-model="atributos.modificador_vida" @input="() => calculateDamages('modificador_vida')" id="vida" name="vida" class="flex-1 w-full  !border-0 py-1.5 px-2 text-sm sm:leading-6 bg-transparent p-0 !outline-0 !ring-0"></textarea>
          </div>
          <span class="text-[10px]">{{ game.calculeds.life[1] }}</span>
          <div class="bg-zinc-800">
            <div class="bg-red-500 h-2.5" v-bind:style="{ width: `${game.calculeds.life[0]}%` }">
            </div>
          </div>
        </div>
        <div class="bg-zinc-900 col-span-2 min-h-[4rem]">
          <button type="button" class="bg-zinc-800 px-2 py-1 w-full text-left text-sm font-semibold" v-on:click="openModal('abilities')">Habilidades</button>
          <div class="grid grid-cols-2 gap-2 px-2 py-1 max-h-[8rem] overflow-y-auto" v-if="!!atributos.habilidades">
            <span
              class="border-b border-zinc-800/40 cursor-pointer"
              v-for="habilidade in atributos.habilidades"
              v-on:click="onDetails('abilities', habilidade)"
              :key="habilidade"
            >{{ habilidade }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="grid sm:grid-cols-3 gap-2 mt-2 sm:mt-6 w-full">
      <div class="sm:col-span-2 bg-zinc-900 min-h-[4rem]">
        <button type="button" class="bg-zinc-800 px-2 py-1 w-full text-left text-sm font-semibold" v-on:click="openModal('equipaments')">Equipamentos</button>
        <div class="grid grid-cols-2 gap-2 px-2 py-1 max-h-[16rem] overflow-y-auto" v-if="!!itens.equipamentos">
          <span class="border-b border-zinc-800/40" v-for="equipamento in itens.equipamentos" :key="equipamento">{{ equipamento }}</span>
        </div>
      </div>
      <div class="flex flex-col flex-1 gap-y-2">
        <div class="bg-zinc-900 min-h-[3rem]">
          <button type="button" class="bg-zinc-800 px-2 pt-1 w-full text-left text-sm font-semibold" v-on:click="openModal('arms')">Armas e Armaduras</button>
          <div class="flex flex-col gap-1 max-h-[8rem] overflow-y-auto" v-if="!!itens.armas">
            <span
              class="flex justify-between border-b last:border-0 border-zinc-800/40 cursor-pointer"
              v-for="arma in itens.armas"
              :key="arma.name"
              v-on:click="onDetails('arms', arma.name)"
            >
              <span class="px-2 py-1 flex-1">{{ arma.name }}</span>
              <span class="bg-zinc-800/40 px-2 py-1">{{ arma.value }}</span>
            </span>
          </div>
        </div>
        <div class="bg-zinc-900 min-h-[4rem] px-2 py-1">
          <span class="text-sm font-semibold">Tesouros</span>
          <textarea v-model="itens.tesouros[0]" class="flex-1 w-full  !border-0 py-1.5 sm:text-sm sm:leading-6 bg-transparent p-0 !outline-0 !ring-0"></textarea>
        </div>
      </div>
    </div>

    <div class="mt-6 flex shadow-sm ring-2 ring-inset ring-gray-900 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative rounded">
      <textarea v-model="notas" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" rows="10"></textarea>
      <span class="text-gray-500 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-zinc-950 font-semibold px-2">Notas Adicionais</span>
    </div>

    <div class="mt-6 mb-6 flex flex-wrap items-center justify-center gap-4">
      <button type="button" v-on:click="openModal('attributes')" class="w-40 text-center rounded-md bg-gray-200 px-3 py-2 px-8 text-sm font-semibold text-gray-600 shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100">Teste de Atrib.</button>
      <button type="button" v-on:click="openModal('books')" class="w-40 text-center rounded-md border border-gray-200 px-3 py-2 px-8 text-sm font-semibold text-gray-400 shadow-sm hover:bg-gray-300/30 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100">Livros</button>
      <button type="button" v-on:click="openModal('maps')" class="w-40 text-center rounded-md border border-gray-200 px-3 py-2 px-8 text-sm font-semibold text-gray-400 shadow-sm hover:bg-gray-300/30 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100">Mapas</button>
      <button type="button" v-on:click="openModal('alternate')" class="w-40 text-center rounded-md border border-gray-200 px-3 py-2 px-8 text-sm font-semibold text-gray-400 shadow-sm hover:bg-gray-300/30 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100">Alternar Pers.</button>
      <a href="./batalha" class="w-40 text-center rounded-md border border-gray-200 px-3 py-2 px-8 text-sm font-semibold text-gray-400 shadow-sm hover:bg-gray-300/30 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100">Batalha</a>
    </div>

    <!-- BEGIN:: MODALS -->
    <div id="modal-abilities"
      class="relative z-10 hidden"
      v-bind:style="{ display: game.modal.is_open_abilities ? 'block':'none' }"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
          v-bind:style="{ display: game.modal.is_open_abilities ? 'block':'none' }"
          v-on:click="closeModal('abilities')"
        ></div>
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl">
            <div class="bg-zinc-900 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <!-- BEGIN:: HEADER -->
              <div>
                <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                  <h3 class="text-base font-semibold leading-6 text-gray-50" id="modal-title">Habilidades</h3>
                  <p class="text-sm text-gray-500">Selecione as habilidades do seu personagem.</p>
                </div>
              </div>
              <!-- END:: HEADER -->
              <div class="pt-6 pr-2 max-h-[calc(100vh-13rem)] overflow-y-auto">
                <div class="grid grid-cols-2 gap-4">
                  <label class="flex hover:bg-zinc-800 p-2 pt-1 rounded-md border border-zinc-800" v-for="ability in game.abilities" :key="ability.name">
                    <input
                      type="checkbox"
                      v-on:change="updateAbility($event.target)"
                      v-bind:checked="atributos.habilidades && atributos.habilidades.includes(ability.name)"
                      v-bind:value="ability.name"
                      name="check_abilities"class="h-4 w-4 rounded border-gray-200 text-indigo-600  self-center focus:ring-indigo-500">
                    <div class="ml-3 min-w-0 flex-1 text-gray-400">
                      {{ ability.name }}<br/>
                      <span class="text-xs text-gray-500 leading-none block">
                        {{ ability.description }}
                      </span>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div class="bg-gray-950 px-4 py-3 sm:flex sm:justify-end gap-2 sm:px-6">
              <button
                type="button"
                class="mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-400 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50/10 sm:mt-0 sm:w-auto"
                v-on:click="closeModal('abilities')"
              >Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-equipaments"
      class="relative z-10 hidden"
      v-bind:style="{ display: game.modal.is_open_equipaments ? 'block':'none' }"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
          v-bind:style="{ display: game.modal.is_open_equipaments ? 'block':'none' }"
          v-on:click="closeModal('equipaments')"
        ></div>
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl">
            <div class="bg-zinc-900 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <!-- BEGIN:: HEADER -->
              <div>
                <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                  <h3 class="text-base font-semibold leading-6 text-gray-50" id="modal-title">Equipamentos</h3>
                  <p class="text-sm text-gray-500">Selecione os equipamentos do seu personagem.</p>
                </div>
              </div>
              <!-- END:: HEADER -->
              <div class="pt-6 pr-2 max-h-[calc(100vh-13rem)] overflow-y-auto">
                <div class="grid grid-cols-2 gap-4">
                  <label class="flex hover:bg-zinc-800 p-2 pt-1 rounded-md border border-zinc-800" v-for="equipament in game.equipaments" :key="equipament.name">
                    <input
                      type="checkbox"
                      v-on:change="updateEquipament($event.target)"
                      v-bind:checked="itens.equipamentos && itens.equipamentos.includes(equipament.name)"
                      v-bind:value="equipament.name"
                      name="check_equipaments"class="h-4 w-4 rounded border-gray-200 text-indigo-600  self-center focus:ring-indigo-500">
                    <div class="ml-3 min-w-0 flex-1 text-gray-400">
                      {{ equipament.name }}<br/>
                      <span class="text-xs text-gray-500 leading-none block">
                        <b>Custo:</b> {{ equipament.cost }}
                      </span>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div class="bg-gray-950 px-4 py-3 sm:flex sm:justify-end gap-2 sm:px-6">
              <button
                type="button"
                class="mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-400 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50/10 sm:mt-0 sm:w-auto"
                v-on:click="closeModal('equipaments')"
              >Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-arms"
      class="relative z-10 hidden"
      v-bind:style="{ display: game.modal.is_open_arms ? 'block':'none' }"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
          v-bind:style="{ display: game.modal.is_open_arms ? 'block':'none' }"
          v-on:click="closeModal('arms')"
        ></div>
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl">
            <div class="bg-zinc-900 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <!-- BEGIN:: HEADER -->
              <div>
                <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                  <h3 class="text-base font-semibold leading-6 text-gray-50" id="modal-title">Armas e Armaduras</h3>
                  <p class="text-sm text-gray-500">Selecione as armas e armaduras do seu personagem.</p>
                </div>
              </div>
              <!-- END:: HEADER -->
              <div class="pt-6 pr-2 max-h-[calc(100vh-13rem)] overflow-y-auto">
                <div class="grid grid-cols-2 gap-4">
                  <label class="flex hover:bg-zinc-800 p-2 pt-1 rounded-md border border-zinc-800" v-for="arm in game.arms" :key="arm.name">
                    <input
                      type="checkbox"
                      v-on:change="updateArm($event.target)"
                      v-bind:checked="itens.armas && itens.armas.some((a) => a.name === arm.name)"
                      v-bind:value="arm.name"
                      name="check_arms"class="h-4 w-4 rounded border-gray-200 text-indigo-600  self-center focus:ring-indigo-500">
                    <div class="ml-3 min-w-0 flex-1 text-gray-400">
                      {{ arm.name }}<br/>
                      <span class="text-xs text-gray-500 leading-none block">
                        {{ arm.description }}
                        <br/><br/>
                        <b>Custo:</b> {{ arm.cost }} | <b>Valor:</b> {{ arm.value }}
                      </span>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div class="bg-gray-950 px-4 py-3 sm:flex sm:justify-end gap-2 sm:px-6">
              <button
                type="button"
                class="mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-400 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50/10 sm:mt-0 sm:w-auto"
                v-on:click="closeModal('arms')"
              >Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-attributes"
      class="relative z-10 hidden"
      v-bind:style="{ display: game.modal.is_open_attributes ? 'block':'none' }"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
          v-bind:style="{ display: game.modal.is_open_attributes ? 'block':'none' }"
          v-on:click="closeModal('attributes')"
        ></div>
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl">
            <div class="bg-zinc-900 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <!-- BEGIN:: HEADER -->
              <div>
                <div class="mt-3 text-center sm:mt-0 sm:text-left">
                  <h3 class="text-base font-semibold leading-6 text-gray-50" id="modal-title">Teste de Atributo</h3>
                  <p class="text-sm text-gray-500 mt-2">
                    Você deve somar a pontuação do seu atributo escolhido + modificadores e/ou habilidades para determinar sua pontuação máxima.
                    <br/>
                    Depois jogue os dados e verifique na tabela, como o seu valor se qualifica.
                  </p>
                </div>
              </div>
              <!-- END:: HEADER -->
              <div class="pt-6 pr-2 max-h-[calc(100vh-13rem)] overflow-y-auto">
                <div class="flex flex-col sm:flex-row">
                  <div class="flex max-sm:rounded-t-md sm:rounded-l-md shadow-sm ring-2 ring-inset ring-gray-600 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative" style="max-width: 5rem;">
                    <input type="number" v-model="game.test_attribute.base" class="block flex-1 border-0 bg-transparent rounded-md py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                    <span class="text-gray-300 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-zinc-900 font-semibold px-2">Base</span>
                  </div>
                  <div class="flex flex-1 shadow-sm ring-2 ring-inset ring-gray-600 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative">
                    <input type="number" v-model="game.test_attribute.max" class="block flex-1 border-0 bg-transparent rounded-md py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                    <span class="text-gray-300 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-zinc-900 font-semibold px-2">Pontuação Máxima</span>
                  </div>
                  <div class="flex flex-1 max-sm:rounded-b-md sm:rounded-r-md shadow-sm ring-2 ring-inset ring-gray-600 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative">
                    <input type="number" v-model="game.test_attribute.current" class="block flex-1 border-0 bg-transparent rounded-md py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                    <span class="text-gray-300 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-zinc-900 font-semibold px-2">Pontuação Atual</span>
                  </div>
                </div>
                <div v-if="!isNaN(game.test_attribute.max) && !!game.test_attribute.max && !isNaN(game.test_attribute.current) && !!game.test_attribute.current">
                  <span class="block bg-zinc-800 px-2 py-1 w-full text-center font-semibold mt-4">
                    {{ 
                      (game.test_attribute.current * 100 / game.test_attribute.max) <= 20 ? 'Extremo' : (
                        (game.test_attribute.current * 100 / game.test_attribute.max) <= (40 + 20) ? 'Bom' : (
                          (game.test_attribute.current * 100 / game.test_attribute.max) <= (40 + 40 + 20) ? 'Regular' : (
                            ((game.test_attribute.current - game.test_attribute.max) * 100 / (game.test_attribute.base - game.test_attribute.max)) <= 50 ?
                             'Ruim':'Péssimo'
                          )
                        )
                      )
                    }}
                  </span>
                </div>
                <div class="grid grid-cols-6 mt-6">
                  <strong class="border border-zinc-800 p-1 text-xs">Pontos Max.</strong>
                  <strong class="border border-zinc-800 p-1 text-xs">Extremo (20%)</strong>
                  <strong class="border border-zinc-800 p-1 text-xs">Bom (40%)</strong>
                  <strong class="border border-zinc-800 p-1 text-xs">Regular (40%)</strong>
                  <strong class="border border-zinc-800 p-1 text-xs">Ruim (50%)</strong>
                  <strong class="border border-zinc-800 p-1 text-xs">Péssimo (50%)</strong>
                </div>
                <div class="grid grid-cols-6" v-bind:class="{ 'bg-zinc-800': row.points == game.test_attribute.max }" v-for="row in game.test_attribute.grid" :key="row.points">
                  <span class="border-x border-b border-zinc-800/40 text-center">{{ row.points }}</span>
                  <span
                    class="border-x border-b border-zinc-800/40 text-center"
                    v-bind:class="{ 'bg-zinc-500': row.points == game.test_attribute.max && itsBetween(game.test_attribute.current, row.extreme) }"
                  >{{ row.extreme[0] + ' - ' + row.extreme[1] }}</span>
                  <span
                    class="border-x border-b border-zinc-800/40 text-center"
                    v-bind:class="{ 'bg-zinc-500': row.points == game.test_attribute.max && itsBetween(game.test_attribute.current, row.good) }"
                  >{{ row.good[0] + ' - ' + row.good[1] }}</span>
                  <span
                    class="border-x border-b border-zinc-800/40 text-center"
                    v-bind:class="{ 'bg-zinc-500': row.points == game.test_attribute.max && itsBetween(game.test_attribute.current, row.regular) }"
                  >{{ row.regular[0] + ' - ' + row.regular[1] }}</span>
                  <span
                    class="border-x border-b border-zinc-800/40 text-center"
                    v-bind:class="{ 'bg-zinc-500': row.points == game.test_attribute.max && itsBetween(game.test_attribute.current, row.bad) }"
                  >{{ row.bad[0] + ' - ' + row.bad[1] }}</span>
                  <span
                    class="border-x border-b border-zinc-800/40 text-center"
                    v-bind:class="{ 'bg-zinc-500': row.points == game.test_attribute.max && itsBetween(game.test_attribute.current, row.terrible) }"
                  >{{ row.terrible[0] + ' - ' + row.terrible[1] }}</span>
                </div>

                <p class="text-sm text-gray-400 mt-6">
                  Para definir a dificuldade o mestre(ou narrador da cena) pode usar 1D8 seguindo os valores da tabela abaixo. Está é a dificuldade mínima que o jogador deve atingir.
                </p>
                <div class="mt-2">
                  <div class="flex border border-zinc-800 gap-4 p-1 text-sm"><strong class="">1-2</strong><span>Extremo</span></div>
                  <div class="flex border border-zinc-800 gap-4 p-1 text-sm"><strong class="">3-4</strong><span>Bom</span></div>
                  <div class="flex border border-zinc-800 gap-4 p-1 text-sm"><strong class="">5-6</strong><span>Regular</span></div>
                  <div class="flex border border-zinc-800 gap-4 p-1 text-sm"><strong class="">7-7</strong><span>Ruim</span></div>
                  <div class="flex border border-zinc-800 gap-4 p-1 text-sm"><strong class="">8-8</strong><span>Péssimo (Nesse caso dispensa o teste de atributo)</span></div>
                </div>
              </div>
            </div>
            <div class="bg-gray-950 px-4 py-3 sm:flex sm:justify-end gap-2 sm:px-6">
              <button
                type="button"
                class="mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-400 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50/10 sm:mt-0 sm:w-auto"
                v-on:click="closeModal('attributes')"
              >Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-books"
      class="relative z-10 hidden"
      v-bind:style="{ display: game.modal.is_open_books ? 'block':'none' }"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
          v-bind:style="{ display: game.modal.is_open_books ? 'block':'none' }"
          v-on:click="closeModal('books')"
        ></div>
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl">
            <div class="bg-zinc-900 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <!-- BEGIN:: HEADER -->
              <div>
                <div class="mt-3 text-center sm:mt-0 sm:text-left">
                  <div class="flex max-sm:flex-col justify-between mb-4">
                    <h3 class="text-base font-semibold leading-6 text-gray-50 max-sm:mb-2" id="modal-title">Livros</h3>
                    <div>
                      <button
                        type="button"
                        class="my-1 text-center rounded-md px-3 py-1 text-sm font-semibold shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100"
                        v-bind:class="{ 'bg-gray-200 text-gray-600': game.books.current === 'grimorios', 'border border-gray-200 text-gray-400': game.books.current !== 'grimorios' }"
                        v-on:click="game.books.current = 'grimorios'"
                      >Grimórios</button>
                      <button
                        type="button"
                        class="my-1 text-center rounded-md px-3 py-1 text-sm font-semibold shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100"
                        v-bind:class="{ 'bg-gray-200 text-gray-600': game.books.current === 'maldicoes', 'border border-gray-200 text-gray-400': game.books.current !== 'maldicoes' }"
                        v-on:click="game.books.current = 'maldicoes'"
                      >Maldições</button>
                      <button
                        type="button"
                        class="my-1 text-center rounded-md  px-3 py-1 text-sm font-semibold shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100"
                        v-bind:class="{ 'bg-gray-200 text-gray-600': game.books.current === './regras.pdf', 'border border-gray-200 text-gray-400': game.books.current !== './regras.pdf' }"
                        v-on:click="game.books.current = './regras.pdf'"
                      >Regras</button>
                      <button
                        type="button"
                        class="my-1 text-center rounded-md px-3 py-1 text-sm font-semibold shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100"
                        v-bind:class="{ 'bg-gray-200 text-gray-600': game.books.current === './guia.pdf', 'border border-gray-200 text-gray-400': game.books.current !== './guia.pdf' }"
                        v-on:click="game.books.current = './guia.pdf'"
                      >Guia</button>
                      <a
                        href="./sessions"
                        class="my-1 text-center rounded-md px-3 py-1 text-sm font-semibold shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100 border border-gray-200 text-gray-400"
                      >Sessões</a>
                    </div>
                  </div>
                  
                  <iframe
                    v-if="!['grimorios', 'maldicoes'].includes(game.books.current)"
                    v-bind:src="game.books.current" width="100%" style="height: calc(100vh - 5rem)" frameborder="0"
                  ></iframe>
                  <div v-if="game.books.current === 'grimorios'">
                    <div class="flex flex-col sm:flex-row pt-2">
                      <div class="flex max-sm:rounded-t-md sm:rounded-l-md shadow-sm ring-2 ring-inset ring-gray-600 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative" style="max-width: 5rem;">
                        <input type="number" v-model="game.test_attribute.base" class="block flex-1 border-0 bg-transparent rounded-md py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                        <span class="text-gray-300 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-zinc-900 font-semibold px-2">Base</span>
                      </div>
                      <div class="flex flex-1 shadow-sm ring-2 ring-inset ring-gray-600 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative">
                        <input type="number" v-model="game.test_attribute.max" class="block flex-1 border-0 bg-transparent rounded-md py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                        <span class="text-gray-300 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-zinc-900 font-semibold px-2">Pontuação Máxima</span>
                      </div>
                      <div class="flex flex-1 max-sm:rounded-b-md sm:rounded-r-md shadow-sm ring-2 ring-inset ring-gray-600 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative">
                        <input type="number" v-model="game.test_attribute.current" class="block flex-1 border-0 bg-transparent rounded-md py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                        <span class="text-gray-300 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-zinc-900 font-semibold px-2">Pontuação Atual</span>
                      </div>
                    </div>
                    <h3 class="text-xs font-semibold mt-1 mb-1">Sua sabedoria é: {{ atributos.sabedoria }} +{{ atributos.modificador_sabedoria }}</h3>
                    <div v-if="!isNaN(game.test_attribute.max) && !!game.test_attribute.max && !isNaN(game.test_attribute.current) && !!game.test_attribute.current">
                      <span class="block bg-zinc-800 px-2 py-1 w-full text-center font-semibold mt-4">
                        {{ 
                          (game.test_attribute.current * 100 / game.test_attribute.max) <= 20 ? 'Extremo (100% dano | 0 custo)' : (
                            (game.test_attribute.current * 100 / game.test_attribute.max) <= (40 + 20) ? 'Bom (custo => sanidade)' : (
                              (game.test_attribute.current * 100 / game.test_attribute.max) <= (40 + 40 + 20) ? 'Regular (custo => vida)' : (
                                ((game.test_attribute.current - game.test_attribute.max) * 100 / (game.test_attribute.base - game.test_attribute.max)) <= 50 ?
                                 'Ruim (custo => vida)':'Péssimo (custo => vida + maldição)'
                              )
                            )
                          )
                        }}
                      </span>
                    </div>
                    <div class="grid grid-cols-2 mt-6 bg-zinc-950/50">
                      <div class="flex">
                        <strong class="border border-zinc-800 p-1 text-xs w-[4rem]">Custo</strong>
                        <strong class="border border-zinc-800 p-1 text-xs flex-1">Feitiço</strong>
                      </div>
                      <strong class="border border-zinc-800 p-1 text-xs">Descrição</strong>
                    </div>
                    <div class="grid grid-cols-2 hover:bg-zinc-700/50" v-for="magic of game.magicians">
                      <div class="flex">
                        <span class="font-semibold border border-zinc-800 p-1 text-sm w-[4rem]">{{ magic.cost }}</span>
                        <span class="font-semibold border border-zinc-800 p-1 text-sm flex-1">{{ magic.name }}</span>
                      </div>
                      <span class="border border-zinc-800 p-1 text-xs">{{ magic.description }}</span>
                    </div>
                  </div>
                  <div v-if="game.books.current === 'maldicoes'">
                    <div class="flex mt-6 bg-zinc-950/50">
                      <strong class="border border-zinc-800 p-1 text-xs w-[4rem]">Dado</strong>
                      <strong class="border border-zinc-800 p-1 text-xs flex-1">Maldições</strong>
                    </div>
                    <div class="flex hover:bg-zinc-700/50" v-for="malison of game.malisons">
                      <span class="font-semibold border border-zinc-800 p-1 text-sm w-[4rem]">{{ malison.value }}</span>
                      <span class="border border-zinc-800 p-1 text-xs flex-1">{{ malison.description }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END:: HEADER -->
              <div class="pt-6 pr-2 max-h-[calc(100vh-13rem)] overflow-y-auto">
              </div>
            </div>
            <div class="bg-gray-950 px-4 py-3 sm:flex sm:justify-end gap-2 sm:px-6">
              <button
                type="button"
                class="mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-400 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50/10 sm:mt-0 sm:w-auto"
                v-on:click="closeModal('books')"
              >Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-maps"
      class="relative z-10 hidden"
      v-bind:style="{ display: game.modal.is_open_maps ? 'block':'none' }"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
          v-bind:style="{ display: game.modal.is_open_maps ? 'block':'none' }"
          v-on:click="closeModal('maps')"
        ></div>
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl">
            <div class="bg-zinc-900 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <!-- BEGIN:: HEADER -->
              <div>
                <div class="mt-3 text-center sm:mt-0 sm:text-left">
                  <div class="flex justify-between mb-4">
                    <h3 class="text-base font-semibold leading-6 text-gray-50" id="modal-title">Mapas</h3>
                    <div>
                      <button
                        type="button"
                        class="text-center rounded-md px-3 py-1 text-sm font-semibold shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100"
                        v-bind:class="{ 'bg-gray-200 text-gray-600': game.maps.current === './map.jpg', 'border border-gray-200 text-gray-400': game.maps.current !== './map.jpg' }"
                        v-on:click="game.maps.current = './map.jpg'"
                      >Mapa</button>
                      <button
                        type="button"
                        class="text-center rounded-md  px-3 py-1 text-sm font-semibold shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100"
                        v-bind:class="{ 'bg-gray-200 text-gray-600': game.maps.current === './cidadela.pdf', 'border border-gray-200 text-gray-400': game.maps.current !== './cidadela.pdf' }"
                        v-on:click="game.maps.current = './cidadela.pdf'"
                      >Cidadela</button>
                      <button
                        type="button"
                        class="text-center rounded-md  px-3 py-1 text-sm font-semibold shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100"
                        v-bind:class="{ 'bg-gray-200 text-gray-600': game.maps.current === './regiao.pdf', 'border border-gray-200 text-gray-400': game.maps.current !== './regiao.pdf' }"
                        v-on:click="game.maps.current = './regiao.pdf'"
                      >Região</button>
                    </div>
                  </div>
                  <iframe v-if="game.maps.current.slice(-4) === '.pdf'" v-bind:src="game.maps.current" width="100%" style="height: calc(100vh - 5rem)" frameborder="0"></iframe>
                  <div v-if="game.maps.current.slice(-4) !== '.pdf'" class="overflow-auto">
                    <div class="relative text-xs text-gray-100" style="
                      font-family: Cinzel;
                      width: 624px; min-width: 624px;
                      height: 350px; min-height: 350px;
                    ">
                      <img v-bind:src="game.maps.current" class="absolute" style="inset: 0;"/>
                      <span class="absolute group" style="top: 87px;left: 117px;">
                        <span class="opacity-0 group-hover:opacity-100" style="transform: tranzincX(-50%);display: block;">Costa da Serpente</span>
                        <span class="h-2 w-2 rounded-full bg-red-500 block"></span>
                      </span>
                      <span class="absolute group" style="top: 144px;left: 114px;">
                        <span class="opacity-0 group-hover:opacity-100" style="transform: tranzincX(-50%);display: block;">Ruínas de Ulthar</span>
                        <span class="h-2 w-2 rounded-full bg-red-500 block"></span>
                      </span>
                      <span class="absolute group" style="top: 167px;left: 173px;">
                        <span class="opacity-0 group-hover:opacity-100" style="transform: tranzincX(-50%);display: block;">Monte Horus</span>
                        <span class="h-2 w-2 rounded-full bg-red-500 block"></span>
                      </span>
                      <span class="absolute group" style="top: 213px;left: 236px;">
                        <span class="opacity-0 group-hover:opacity-100" style="transform: tranzincX(-50%);display: block;">Ruínas de Frostar</span>
                        <span class="h-2 w-2 rounded-full bg-red-500 block"></span>
                      </span>
                      <span class="absolute group" style="bottom: 71px;left: 272px;">
                        <span class="opacity-0 group-hover:opacity-100" style="transform: tranzincX(-50%);display: block;">Taverna do Lobo Cinzen</span>
                        <span class="h-2 w-2 rounded-full bg-red-500 block"></span>
                      </span>
                      <span class="absolute group" style="top: 41px;left: 286px;">
                        <span class="opacity-0 group-hover:opacity-100" style="transform: tranzincX(-50%);display: block;">Norte Gélido</span>
                        <span class="h-2 w-2 rounded-full bg-red-500 block"></span>
                      </span>
                      <span class="absolute group" style="top: 163px;left: 291px;">
                        <span class="opacity-0 group-hover:opacity-100" style="transform: tranzincX(-50%);display: block;">Cidadela de Urdir</span>
                        <span class="h-2 w-2 rounded-full bg-red-500 block"></span>
                      </span>
                      <span class="absolute group" style="bottom: 94px;left: 327px;">
                        <span class="opacity-0 group-hover:opacity-100" style="transform: tranzincX(-50%);display: block;">Castelo de Nimir</span>
                        <span class="h-2 w-2 rounded-full bg-red-500 block"></span>
                      </span>
                      <span class="absolute group" style="top: 86px;right: 78px;">
                        <span class="opacity-0 group-hover:opacity-100" style="transform: tranzincX(-50%);display: block;">Planícies Amarelas</span>
                        <span class="h-2 w-2 rounded-full bg-red-500 block"></span>
                      </span>
                      <span class="absolute group" style="top: 127px;right: 134px;">
                        <span class="opacity-0 group-hover:opacity-100" style="transform: tranzincX(-50%);display: block;">Templo de Prata</span>
                        <span class="h-2 w-2 rounded-full bg-red-500 block"></span>
                      </span>
                      <span class="absolute group flex flex-col items-end" style="top: 148px;right: 37px;">
                        <span class="opacity-0 group-hover:opacity-100" style="transform: tranzincX(25%);display: block;">Portal de Nasir</span>
                        <span class="h-2 w-2 rounded-full bg-red-500 block"></span>
                      </span>
                      <span class="absolute group flex flex-col items-end" style="bottom: 128px;right: 54px;">
                        <span class="opacity-0 group-hover:opacity-100" style="transform: tranzincX(25%); display: block;">Torre Arcana</span>
                        <span class="h-2 w-2 rounded-full bg-red-500 block"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END:: HEADER -->
              <div class="pt-6 pr-2 max-h-[calc(100vh-13rem)] overflow-y-auto">
              </div>
            </div>
            <div class="bg-gray-950 px-4 py-3 sm:flex sm:justify-end gap-2 sm:px-6">
              <button
                type="button"
                class="mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-400 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50/10 sm:mt-0 sm:w-auto"
                v-on:click="closeModal('maps')"
              >Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-alternate"
      class="relative z-10 hidden"
      v-bind:style="{ display: game.modal.is_open_alternate ? 'block':'none' }"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
          v-bind:style="{ display: game.modal.is_open_alternate ? 'block':'none' }"
          v-on:click="closeModal('alternate')"
        ></div>
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl">
            <div class="bg-zinc-900 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <div>
                <div class="mt-3 text-center sm:mt-0 sm:text-left">
                  <div class="flex justify-between mb-4 gap-2">
                    <h3 class="text-base font-semibold leading-6 text-gray-50" id="modal-title">Alternar Personagem</h3>
                    <div>
                      <button
                        type="button"
                        class="text-center rounded-md  px-3 py-2 px-8 text-sm font-semibold shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100 bg-gray-200 text-gray-600"
                        v-on:click="downloadCharacter()"
                      >Baixar</button>
                    </div>
                  </div>
                  
                  <div class="flex flex-col mt-4">
                    <div class="flex" v-for="player of game.allPlayers">
                      <div
                        class="p-2 flex-1 text-left text-[10px] font-semibold uppercase flex items-center justify-start hover:bg-zinc-950/50"
                        v-bind:class="{ 'bg-zinc-950 cursor-pointer': player !== bio.nome }"
                        v-on:click="selectCharacter(player)"
                      >{{ player }}</div>
                      <button
                        v-if="player !== bio.nome"
                        type="button"
                        class="p-2 text-red-500 font-weight-bold bg-zinc-950 cursor-pointer"
                        v-on:click="deleteCharacter(player)"
                      > x </button>
                    </div>
                    <div
                      class="p-2 bg-zinc-950 flex-1 text-left text-[10px] font-semibold uppercase flex items-center justify-start cursor-pointer hover:bg-zinc-950/50"
                      v-on:click="selectCharacter()"
                    >Novo +</div>
                    <div class="mt-6 mb-4 flex shadow-sm ring-2 ring-inset ring-gray-700 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 relative rounded">
                      <textarea v-model="game.import" class="block flex-1 border-0 bg-transparent py-1.5 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" rows="10"></textarea>
                      <span class="text-gray-500 uppercase text-[8px] absolute -top-1.5 left-1.5 bg-zinc-900 font-semibold px-2">Importar Personagem</span>
                    </div>
                    <button
                      type="button"
                      class="text-center rounded-md  px-3 py-2 px-8 text-sm font-semibold shadow-sm hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-100 bg-gray-200 text-gray-600"
                      v-on:click="importChar()"
                    >Importar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-gray-950 px-4 py-3 sm:flex sm:justify-end gap-2 sm:px-6">
              <button
                type="button"
                class="mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-400 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50/10 sm:mt-0 sm:w-auto"
                v-on:click="closeModal('alternate')"
              >Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-details"
      class="relative z-10 hidden"
      v-bind:style="{ display: game.modal.is_open_details ? 'block':'none' }"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
          v-bind:style="{ display: game.modal.is_open_details ? 'block':'none' }"
          v-on:click="closeModal('details')"
        ></div>
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl">
            <div class="bg-zinc-900 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <!-- BEGIN:: HEADER -->
              <div>
                <div class="mt-3 text-center sm:mt-0 sm:text-left">
                  <h3 class="text-base font-semibold leading-6 text-gray-50" id="modal-title">{{ game.details.title }}</h3>
                  <p class="text-sm text-gray-400 mt-2">{{ game.details.description }}</p>
                </div>
              </div>
              <!-- END:: HEADER -->
              <div class="pt-6 pr-2 max-h-[calc(100vh-13rem)] overflow-y-auto">
              </div>
            </div>
            <div class="bg-gray-950 px-4 py-3 sm:flex sm:justify-end gap-2 sm:px-6">
              <button
                type="button"
                class="mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-400 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50/10 sm:mt-0 sm:w-auto"
                v-on:click="closeModal('details')"
              >Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END:: MODALS -->
  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="./js/datas.js"></script>
  <script src="./js/shared.js"></script>
  <script src="./js/app.js"></script>
</body>
</html>